body {
  background: linear-gradient(to bottom right, #0099ff, #33cc33) no-repeat;
  height: 560px;
}

.container {
  border-radius: 3px;
  height: max-content;
  width: max-content;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #ffffff;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    text-align: left;
}

p {
    font-size: 16px;
    margin: 10px 0;
}
